<div class="row">
    <div class="col-md-6">
        <h3>Agent</h3>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="xuc_agentPhoneNumber">Line</label>
            <div class="col-sm-3">
                <input type="text" placeholder="phone number" class="form-control" id="xuc_agentPhoneNumber" value="">
            </div>
            <div class="col-sm-7">
                <button class="btn btn-success" id="xuc_login_btn" title="Agent Log in">Login</button>
                <button class="btn btn-danger" id="xuc_logout_btn" title="Agent Log out">Logout</button>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 control-label" for="xuc_agentPhoneNumber">Pause</label>
            <div class="col-sm-3">
                <input type="text" placeholder="reason" class="form-control" id="agent_pause_reason">
            </div>
            <div class="col-sm-7">
                <button class="btn btn-warning" id="xuc_pause_btn" title="Pause">Pause</button>
                <button class="btn btn-info" id="xuc_unpause_btn" title="Un Pause">UnPause</button>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label" for="xuc_agentData">Status</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="xuc_agentStatus" readonly value="">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label" for="xuc_agentListenStatus">Listen Status</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="xuc_agentListenStatus" readonly value="">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 control-label" for="xuc_agentData">Data</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="xuc_agentData" readonly value="">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-sm-12">
            <h3>Agent Management</h3>
        </div>
        <div class="col-sm-8">
            <label class="control-label" for="xuc_agentId_target">Agent Id</label>
            <div class="input-group">
                <input type="text" class="form-control" id="xuc_agentId_target" value="" size="5" placeholder="Agent Id">
                <span class="btn btn-success input-group-addon" id="xuc_listen_agent_btn" title="listen agent">Listen</span>
            </div>
            <label class="control-label" for="xuc_queueId">Queue Id</label>
            <input type="text" class="form-control" id="xuc_queueId" value="" size="5" placeholder="Queue Id">
            <label class="control-label" for="xuc_penalty">Penalty</label>
            <input type="text" class="form-control" id="xuc_penalty" value="" size="5" placeholder="Penalty">
            <div class="bsep"></div>
            <button class="btn btn-primary" id="xuc_set_agent_queue_btn" title="Set agent queue">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn  btn-primary" id="xuc_remove_agent_from_queue_btn" title="Remove agent from queue">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-sm-12">
            <h3>Call Recording</h3>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="xuc_agentMonitorState">Recording State</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="xuc_agentMonitorState" readonly value="">
            </div>
            <div class="col-sm-12">
                <button class="btn btn-success" id="xuc_monitorpause_btn" title="Monitor pause">Pause</button>
                <button class="btn btn-danger" id="xuc_monitorunpause_btn" title="Monitor unpause">Unpause</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>Agent List</h3>
        <button class="btn btn-danger" id="xuc_clean_agent_config"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <button class="btn btn-success" id="xuc_get_config_agents" title="get agents">Get agents</button>
        <ul class="list-group" id="agent_config"> </ul>
    </div>
    <div class="col-md-3">
        <h3>Agent statistics</h3>
        <button class="btn btn-danger" id="xuc_clean_agent_statistic"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <button class="btn btn-success" id="xuc_subscribe_to_agent_statistic_btn" title="Subcribe">Subscribe</button>
        <ul class="list-group" id="agent_stats"> </ul>
    </div>
    <div class="col-md-6">
        <h3>Agent States Events</h3>
        <div class="form-group">
            <button class="btn btn-danger" id="xuc_clean_agent_events"><span class="glyphicon glyphicon-remove-circle"></span></button>
            <button class="btn btn-success" id="xuc_subscribe_to_agent_event_btn" title="Subscribe to Agent Events">Subscribe</button>
            <span> </span>
            <button class="btn btn-success" id="xuc_get_agentstates" title="get agent states">Get States</button>
        </div>
        <ul class="list-group" id="agentstates"> </ul>
        <ul class="list-group" id="agent_events"> </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>Agent Directory</h3>
        <button class="btn btn-danger" id="xuc_clean_agent_directory"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <button class="btn btn-success" id="xuc_get_agent_directory" title="agent directory">agent directory</button>
        <ul class="list-group" id="agent_directory"> </ul>
    </div>
    <div class="col-md-3">
        <h3>Agent Groups</h3>
        <button class="btn btn-danger" id="xuc_clean_agentgroup_config"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <button class="btn btn-success" id="xuc_get_config_agentgroups" title="get agent groups">Get agent groups</button>
        <ul class="list-group" id="agentgroup_config"> </ul>
    </div>
    <div class="col-md-6">
        <h3>Callback Lists</h3>
        <button class="btn btn-danger" id="xuc_clean_callbacks"><span class="glyphicon glyphicon-remove-circle"></span></button>
        <button class="btn btn-success" id="xuc_get_callback_lists" title="get callback lists">Get Callback Lists</button>
        <ul class="list-group" id="callbacks"> </ul>
    </div>
</div>